<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/security
	    http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://www.springframework.org/schema/context
    	http://www.springframework.org/schema/context/spring-context.xsd
    	http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">

    <context:component-scan base-package="by"/>

    <mvc:annotation-driven/>

    <!-- Add support for reading web resources: css, images, js, etc-->
    <mvc:resources location="/resources/" mapping="/resources/**"/>

    <mvc:interceptors>
        <ref bean="localeChangeInterceptor"/>
    </mvc:interceptors>

    <bean class="org.springframework.context.support.ResourceBundleMessageSource" id="messageSource">
        <property name="basenames" value="resources/localization/interface"/>
    </bean>

    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver"/>

    <bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
        <property name="paramName" value="language"/>
    </bean>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="myDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
        <property name="jdbcUrl"
                  value="jdbc:mysql://127.0.0.1/news_managment?allowPublicKeyRetrieval=true&amp;useSSL=false&amp;serverTimezone=UTC"/>
        <property name="user" value="Valdar"/>
        <property name="password" value="Valdar123456789"/>

        <property name="minPoolSize" value="5"/>
        <property name="maxPoolSize" value="20"/>
        <property name="maxIdleTime" value="30000"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="myDataSource"/>
        <property name="packagesToScan" value="by"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>

    <bean id="myTransactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <tx:annotation-driven transaction-manager="myTransactionManager"/>

    <aop:aspectj-autoproxy/>

    <bean id="userCreationLoggingAspect" class="by.htp.task.aspect.UserCreationLoggingAspect"/>

    <bean id="GlobalExceptionHandler" class="by.htp.task.controller.command.spring.GlobalExceptionHandler">
    </bean>

    <!-- Spring Security -->
    <bean class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler"/>

    <security:http auto-config="true" use-expressions="true" request-matcher="mvc">
        <security:form-login login-page="/AnonymousController?command=gotoindexpage"
                             login-processing-url="/login"
                             username-parameter="login"
                             password-parameter="password"
                             default-target-url="/Controller?command=gotomainpage"
                             always-use-default-target="true"
                             authentication-failure-url="/AnonymousController?command=gotoindexpage&amp;message=user%20not%20registered"/>

        <security:logout logout-url="/logout" logout-success-url="/AnonymousController?command=gotoindexpage"/>
        <security:intercept-url pattern="/AnonymousController" access="permitAll"/>
        <security:intercept-url pattern="/Controller" access="hasAnyRole('user', 'admin')"/>
        <security:intercept-url pattern="/AdminController" access="hasRole('admin')"/>
        <security:intercept-url pattern="/**" access="permitAll"/>
    </security:http>

    <bean id="nooptEncoder" class="org.springframework.security.crypto.password.NoOpPasswordEncoder"/>
    <security:authentication-manager>
        <security:authentication-provider user-service-ref="userServiceImpl">
            <security:password-encoder ref="nooptEncoder"/>
        </security:authentication-provider>
    </security:authentication-manager>

</beans>





